---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/8194723/media/recent.json?client_id=f9467afbe845486f994bae0fd2818f5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
    body:
      encoding: UTF-8
      string: "{\n  \"pagination\": {\n    \"next_url\": \"https://api.instagram.com/v1/users/8194723/media/recent?max_id=667472292414607510_8194723&client_id=f9467afbe845486f994bae0fd2818f5c\",\n
        \   \"next_max_id\": \"667472292414607510_8194723\"\n  },\n  \"meta\": {\n
        \   \"code\": 200\n  },\n  \"data\": [\n    {\n      \"attribution\": null,\n
        \     \"tags\": [\n        \"marchmadness\",\n        \"thenewdresscode\",\n
        \       \"bonobosproam\"\n      ],\n      \"location\": null,\n      \"comments\":
        {\n        \"count\": 3,\n        \"data\": [\n          {\n            \"created_time\":
        \"1395267904\",\n            \"text\": \"I want that bag!\",\n            \"from\":
        {\n              \"username\": \"inocenciojo\",\n              \"profile_picture\":
        \"http://images.ak.instagram.com/profiles/profile_2250041_75sq_1388180045.jpg\",\n
        \             \"id\": \"2250041\",\n              \"full_name\": \"inocenciojo\"\n
        \           },\n            \"id\": \"679878916424979269\"\n          },\n
        \         {\n            \"created_time\": \"1395268021\",\n            \"text\":
        \"#TheNewDressCode\",\n            \"from\": {\n              \"username\":
        \"bonobos\",\n              \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_8194723_75sq_1367952372.jpg\",\n
        \             \"id\": \"8194723\",\n              \"full_name\": \"bonobos\"\n
        \           },\n            \"id\": \"679879896365388694\"\n          },\n
        \         {\n            \"created_time\": \"1395277042\",\n            \"text\":
        \"Topo Design??? Love that duffle.\",\n            \"from\": {\n              \"username\":
        \"gsbeauchamp\",\n              \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_7146770_75sq_1373163398.jpg\",\n
        \             \"id\": \"7146770\",\n              \"full_name\": \"Greg Beauchamp\"\n
        \           },\n            \"id\": \"679955575131984399\"\n          }\n
        \       ]\n      },\n      \"filter\": \"Normal\",\n      \"created_time\":
        \"1395267405\",\n      \"link\": \"http://instagram.com/p/lvZnf9SdCP/\",\n
        \     \"likes\": {\n        \"count\": 293,\n        \"data\": [\n          {\n
        \           \"username\": \"aditi_itis\",\n            \"profile_picture\":
        \"http://images.ak.instagram.com/profiles/profile_481360689_75sq_1384277556.jpg\",\n
        \           \"id\": \"481360689\",\n            \"full_name\": \"Aditi Nagpal\"\n
        \         },\n          {\n            \"username\": \"natebard1\",\n            \"profile_picture\":
        \"http://images.ak.instagram.com/profiles/profile_217706714_75sq_1348412142.jpg\",\n
        \           \"id\": \"217706714\",\n            \"full_name\": \"natebard1\"\n
        \         },\n          {\n            \"username\": \"mnaya13\",\n            \"profile_picture\":
        \"http://images.ak.instagram.com/profiles/profile_240600604_75sq_1392223335.jpg\",\n
        \           \"id\": \"240600604\",\n            \"full_name\": \"MF♡\"\n          },\n
        \         {\n            \"username\": \"thelegendarysnackz\",\n            \"profile_picture\":
        \"http://images.ak.instagram.com/profiles/profile_182712582_75sq_1376706105.jpg\",\n
        \           \"id\": \"182712582\",\n            \"full_name\": \"Nick Thielen\"\n
        \         }\n        ]\n      },\n      \"images\": {\n        \"low_resolution\":
        {\n          \"url\": \"http://distilleryimage10.s3.amazonaws.com/17f6bbacafb311e39395120aa4c2c382_6.jpg\",\n
        \         \"width\": 306,\n          \"height\": 306\n        },\n        \"thumbnail\":
        {\n          \"url\": \"http://distilleryimage10.s3.amazonaws.com/17f6bbacafb311e39395120aa4c2c382_5.jpg\",\n
        \         \"width\": 150,\n          \"height\": 150\n        },\n        \"standard_resolution\":
        {\n          \"url\": \"http://distilleryimage10.s3.amazonaws.com/17f6bbacafb311e39395120aa4c2c382_8.jpg\",\n
        \         \"width\": 640,\n          \"height\": 640\n        }\n      },\n
        \     \"users_in_photo\": [\n\n      ],\n      \"caption\": {\n        \"created_time\":
        \"1395267405\",\n        \"text\": \"Shooting a few free throws, trying to
        please the bracket gods. #MarchMadness #BonobosProAm\",\n        \"from\":
        {\n          \"username\": \"bonobos\",\n          \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_8194723_75sq_1367952372.jpg\",\n
        \         \"id\": \"8194723\",\n          \"full_name\": \"bonobos\"\n        },\n
        \       \"id\": \"679874734854885954\"\n      },\n      \"type\": \"image\",\n
        \     \"id\": \"679874734292848783_8194723\",\n      \"user\": {\n        \"username\":
        \"bonobos\",\n        \"website\": \"\",\n        \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_8194723_75sq_1367952372.jpg\",\n
        \       \"full_name\": \"bonobos\",\n        \"bio\": \"\",\n        \"id\":
        \"8194723\"\n      }\n    },\n    {\n      \"attribution\": null,\n      \"tags\":
        [\n\n      ],\n      \"location\": null,\n      \"comments\": {\n        \"count\":
        10,\n        \"data\": [\n          {\n            \"created_time\": \"1395187091\",\n
        \           \"text\": \"I know that life!\",\n            \"from\": {\n              \"username\":
        \"dageezy\",\n              \"profile_picture\": \"http://images.ak.instagram.com/p[...]
