---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=f9467afbe845486f994bae0fd2818f5c&q=bonobos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
    body:
      encoding: UTF-8
      string: "{\n  \"meta\": {\n    \"code\": 200\n  },\n  \"data\": [\n    {\n      \"username\":
        \"bonobos\",\n      \"bio\": \"#TheNewDressCode The look of of a custom shirt.
        The ease of off-the-rack (or off-the-Internet).\",\n      \"website\": \"http://bno.bs/bnbscode\",\n
        \     \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_8194723_75sq_1367952372.jpg\",\n
        \     \"full_name\": \"bonobos\",\n      \"id\": \"8194723\"\n    },\n    {\n
        \     \"username\": \"bonobosninjas\",\n      \"bio\": \"\",\n      \"website\":
        \"http://www.bonobos.com/\",\n      \"profile_picture\": \"http://images.ak.instagram.com/profiles/profile_22627213_75sq_1328658559.jpg\",\n
        \     \"full_name\": \"Bonobos Ninjas\",\n      \"id\": \"22627213\"\n    },\n
        \   {\n      \"username\": \"bonobosscl\",\n      \"bio\": \"Marca Chilena,
        lentes, relojes y accesorios fabricados a mano en mad[...]
