<div class='row'>
  <div class='large-12 columns'>
    <h3>Most Recent</h3>
  </div>
</div>

<div class='row'>
  <div class='large-12 columns'>
    <%= image_tag @photos.first.standard_resolution_url, width: 612, height: 612, class: 'hero' %>
  </div>
</div>

<div class='row'>
  <div class='large-12 columns'>
    <h4>Other Photos</h4>
  </div>
</div>
<div class='row'>
<ul class='small-block-grid-5'>
  <% @photos[1..-1].each do |photo| %>
    <li><%= image_tag photo.thumbnail_url %></li>
  <% end %>
<ul/>
</div>
