<%= render partial: 'photos/slide_show', locals: { photos: @photos } %>

<div class='scroll-x tiles'>
  <% @photos[1..-1].each do |photo| %>
    <a class='th' data-orbit-link="<%= "slide-#{photo.id}" %>">
      <%= image_tag photo.thumbnail_url %>
    </a>
  <% end %>
<div>
