// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
}

.tiles { overflow-y: hidden; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }

.slide {
  padding: 0px;
}
